{% extends "index.twig" %}

{% block title %}
    Заявники
{% endblock %}
{% block content %}



    <div class="modal-content">
        <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Додати громадянина</h4>
        </div>
        <form action="{{path('clerk.people.push')}}" method="post" name="addmanform" id="addmanform">

            <div class="modal-body">
                <div class="container-fluid">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Text input-->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="lastname">Прізвище</label>  
                                    <div class="col-md-8">
                                        <input id="lastname" name="lastname" placeholder="Прізвище" class="form-control input-md" required="" type="text" value="{{data.lastname}}">
                                        <span class="help-block">Прізвище громадянина</span>  
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="firstname">Ім'я</label>  
                                    <div class="col-md-8">
                                        <input id="firstname" name="firstname" placeholder="Ім'я" class="form-control input-md" required="" type="text" value="{{data.firstname}}">
                                        <span class="help-block">Ім'я громадянина</span>  
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="secondname">По-батькові</label>  
                                    <div class="col-md-8">
                                        <input id="secondname" name="secondname" placeholder="По-батькові" class="form-control input-md" required="" type="text" value="{{data.secondname}}">
                                        <span class="help-block">По-батькові громадянина</span>  
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="secondname">Телефон громадянина</label>  
                                    <div class="col-md-8">
                                        <input id="secondname" name="homephone" placeholder="12-34-56" class="form-control input-md" type="text" value="{{data.phones}}">
                                        <span class="help-block">Стаціонарний телефон</span>  
                                        <input id="secondname" name="mobilephone" placeholder="(012)345-67-89" class="form-control input-md" type="text" value="{{data.phones}}">
                                        <span class="help-block">Мобільний телефон</span>  
                                    </div>
                                </div>

                                <!-- Multiple Radios -->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="sex">Стать заявника</label>
                                    <div class="col-md-8"> 
                                        <label class="radio-inline" for="radios-0">
                                            <input name="sex" id="radios-0" value="m" checked="checked" type="radio">
                                            Ч
                                        </label> 
                                        <label class="radio-inline" for="radios-1">
                                            <input name="sex" id="radios-1" value="f" type="radio">
                                            Ж
                                        </label> 

                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <!-- Text input-->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="zipcode">Поштовий індекс</label>  
                                    <div class="col-md-8">
                                        <input id="zipcode" name="zipcode" value="{{data.zipcode}}" class="form-control input-md" type="text">
                                        <span class="help-block">Поштовий індекс громадянина</span>  
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="city">Місто</label>  
                                    <div class="col-md-8">
                                        <input id="city" name="city" value="{{data.city}}" class="form-control input-md" type="text">
                                        <span class="help-block">Місто проживання</span>  
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="street">Вулиця</label>  
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select class="form-control input-md" name="stype">
                                                    <option disabled="disabled" selected="selected" value="-1">Виберіть</option>
                                                    <option value="вул.">вул.</option>
                                                    <option value="просп.">просп.</option>
                                                    <option value="пров.">пров.</option>
                                                    <option value="площа">площа</option>
                                                    <option value="проїзд">проїзд</option>
                                                    <option value="бульвар">бульвар</option>
                                                </select>

                                                <span class="help-block">Тип </span>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="street" name="street" placeholder="Вулиця" class="form-control input-md" required="" type="text" value="{{data.street}}">
                                                <span class="help-block">Назва</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group row">
                                    <label class="col-md-4 control-label" for="building">Будинок</label>  
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input id="building" name="building" placeholder="№" class="form-control input-md" required="" type="text" value="{{data.building}}">
                                                <span class="help-block">Будинок </span>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="housing" name="housing" placeholder="" class="form-control input-md" type="text" value="{{data.housing}}">
                                                <span class="help-block">Корпус </span>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="room" name="room" placeholder="№" class="form-control input-md" type="text" value="{{data.room}}">
                                                <span class="help-block">квартира </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <!-- Multiple Checkboxes -->
                                <div class="form-group row">
                                    <!--<label class="col-md-4 control-label" for="socials">Соціальна група</label>-->
                                    {% for atitem in peopleattr %}
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label for="social[]">
                                                    <input name="social[{{atitem.keystr}}]" id="soc-{{atitem.keystr}}" value="1" type="checkbox">
                                                    {{atitem.value}}
                                                </label>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>  
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="comment">Коментар</label>
                                <div class="col-md-10">                     
                                    <textarea class="form-control" id="comment" name="comment"></textarea>
                                </div>
                            </div>                     
                        </div>
                        -->

                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="btnpostorg" type="submit" data-dismiss="modal">Зберегти</button>
                <button class="btn btn-default" type="reset" data-dismiss="modal">Скасувати</button>
            </div>
        </form>
    </div>
{% endblock %}