{% extends "index.twig" %}

{% block title %}
    Картка № {{doc.fullnum}}
{% endblock %}
{% block content %}


    <table width="100%" border="1">
        <tr>

            <td  colspan="3" align="center">
                <h1>
                    КАРТКА ОБЛІКУ<br>
                    розпорядчих документів
                </h1>
            </td>

        </tr>
        <tr>
            <td width="25%"  align="center">
                <h2>№ {{doc.fullnum}} / {{doc.year}}</h2>
            </td>
            <td  align="center">
                <h3>КОНТРОЛЬ {{doc.date_control}}</h3> 
            </td>
            <td width="25%" align="center">
                <div class="btn-group-vertical">
                    {% if doc.status!='archived' %}
                        <a href="{{path('clerk.doc.edit',{'doc':doc.id})}}" class="btn btn-warning">Редагувати</a>
                    {% endif %}
                    {% if doc.status!='hasresolution' and doc.status!='archived'%}
                        <button type="button" id="addresolutonbtn" class="btn btn-success" data-toggle="modal" data-target="#orgModal">Резолюція голови</button>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="20%">
                Тип документу
            </td>
            <td colspan="2">
                {{doc.stateorgname}}
            </td>
        </tr>
        <tr>
            <td width="20%">
                Зміст
            </td>
            <td colspan="2">
                {{doc.summary}}
            </td>
        </tr>
        <tr>
            <td width="20%">
                Резолюція
            </td>
            <td colspan="2">
                {% if doc.resolution is not empty %}

                    {{doc.resolution.date}}
                    <br/>
                    Передано до виконання {{doc.resolution.username}}
                    {% if doc.resolution.text is not empty %}
                        <br/>
                        З приміткою
                        <br/>
                        {{doc.resolution.text}}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td width="20%">
                Історія переміщень
            </td>
            <td colspan="2">
                {% if doc.movings is not empty %}
                    {% for item in doc.movings %}
                        {{item.dateformated}} - Документ передано 
                        з {{item.prevusername}} на {{item.nextusername}}
                        з приміткою: {{item.movtext}}
                        <br/>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td width="20%">
                Примітки
            </td>
            <td colspan="2">
                {% if doc.notes is not empty %}
                    {% for item in doc.notes %}
                        {{item.value}}
                        <br/>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>

    </table>
    {% include 'popup.resolution.twig' %}
{% endblock %}
