<div id="moveModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Передати документ</h4>
            </div>
            <form action="" method="post" name="addoresformmov" id="addoresformmov">

                <div class="modal-body">
                    <div class="container-fluid">
                        <fieldset>
                            <input type="hidden" name="docid" value="{{doc.id}}" />
                            <div class="row">
                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="userfrom">З кого передати</label>
                                    <div class="col-md-6">
                                        <select id="userfrom" name="userfrom" class="form-control" required="required">
                                            <option value="-1" disabled="disabled" selected="selected">Оберіть виконавця</option>
                                            {% for item in userlist %}
                                                <option value="{{item.id}}">{{item.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="usertomov">На кого передати</label>
                                    <div class="col-md-6">
                                        <select id="usertomov" name="usertomov" class="form-control" required="required">
                                            <option value="-1" disabled="disabled" selected="selected">Оберіть виконавця</option>
                                            {% for item in userlist %}
                                                <option value="{{item.id}}">{{item.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="textmov">Примітка передачі</label>
                                    <div class="col-md-6">                     
                                        <textarea class="form-control" id="textmov" name="textmov"></textarea>
                                    </div>
                                </div>                     
                            </div>


                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="btnpostmovings" type="button" data-dismiss="modal">Передати</button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">Скасувати</button>
                    <script>
                        $(document).ready(function () {
                            $("#btnpostmovings").click(function () {
                                $("#addoresformmov").ajaxSubmit({url: '{{path('ajax.moving.push')}}', type: 'post'});
                                setTimeout(function(){location.reload();}, 1000);
                            });

                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
</div>
